#shop h1, #shop p {
    background-color: #fdf6e6;
}

#shop h1 {
    color: #303030;
}

#shop h1 img {
    vertical-align: bottom;
    height: 4.5%;
}

#shop p {
    font-size: 125%; /*20px*/
    padding-bottom: 50px;
}

#shop h1, #shop p {
    margin: auto;
    padding-top: 50px;
    width: 55%;
    text-align: center;
}

#shop p a {
    color: black;
    text-decoration: underline;
}

#shop p a:hover {
    color: #303030;
    text-decoration: underline;
}

#shop p a:hover {
    color: #303030;
    text-decoration: underline;
}