#shop h2 {
    text-align: center;
    width: 95%;
    background-color: #303030;
    color: white;
    border-radius: 5px;
    padding: 5px 0;
    margin: 30px auto;
}

#shop #vente table, #shop #plan table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#shop #vente table td img, #shop #plan table td img {
    width: 200px;
}

#shop #news, #shop #vente, #shop #plan, #shop #fav {
    background-color: #fdf6e6;
    margin: 0 20px;
}

#vente table td[class="titre"], #plan table td[class="titre"] {
    text-align: center;
}

#vente table td[class="résumé"], #plan table td[class="résumé"] {
    padding: 25px 25px 25px 25px;
    text-align: justify;
}

#vente table td[class="prix"], #plan table td[class="prix"] {
    color: #303030;
    font-weight: bold;
    text-align: center;
}

.fort {
    color: #303030;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

#shop #fav table {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-bottom: 50px;
}

#shop #fav table th, #shop #fav table td {
    text-align: center;
    color: #303030;
}

#shop #fav table td img {
    width: 100%;
}


/*   Diapo   */
.w3-content {
    padding:0 25px;
}
.w3-content img {
    margin: auto;
    width: 95%;
}
.w3-row-padding {
    margin: 16px auto 0;
    width: 25%;
}
.w3-row-padding table tr td {
    margin: auto;
}
.w3-opacity {
    opacity:0.60
}
.w3-opacity-off,.w3-hover-opacity-off:hover {
    opacity:1
}