body {
    font-family: Tahoma, sans-serif;
    text-align: center;
}

h1, table, input, select, .center, h2, h3 {
    margin-left: 100px;
}

a {
    color:blue;
}

a:hover {
    color:dodgerblue;
}

input  {
    padding: 10px;
    border: solid 5px #c9c9c9;
    transition: border 0.3s;
}

input:focus {
    border: solid 5px #969696;
}

.content {
    display: inline-block;
    margin: auto auto auto 150px;
}

.content img {
    width: 100px;
    margin: 0 5px;
}

#conec {
    display: inline-block;
}

#choix {
    margin: auto;
}

.show {
    text-align: center;
    width: 50%;
    margin: auto 30%;
    border-collapse: collapse;
}

.show tr * {
    border: solid 5px #c9c9c9;
    padding: 1%;
}

#menus {
    height: 100%;
    width: 100px;         /*8%, 100px*/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: auto; /* Disable horizontal scroll hiiden; */
    padding-top: 3%;
}

#menus a {
    margin-top: 10%;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#menus a:hover {
    color: white;
    background-color: #303030;
}