#shop .Catégorie {
    background-color: #fdf6e6;
    margin: 0 20px;
}

.text {
    text-align: center;
}

#shop h3 {
    margin: 2% 0 0 2%;
    text-decoration: underline;
}

#shop .pic {
    border: 2px solid;
    padding: 0.5%;
}

#shop .ligne {
    margin: 1.5%;
    display: inline-block;
    vertical-align:top;
}

#EnStock {
    color:limegreen;
}

#HorsStock {
    color:darkred;
}

#prix {
    color: brown;
    font-style: italic;
}

#vedette {
    width: 90.4%;
    border: solid 2px;
    margin: 4%;
}

table {
    margin: 2%;
}

div.gallery {
    display: inline-block;
    margin: 1%;
    border: 1px solid;
    width: 300px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 300px;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
}