body {
    background: url(../images/bibliowall5.jpg) no-repeat fixed center left;
    background-size: auto;
    font-family: Tahoma, sans-serif;
    overflow-y: auto;
    margin: 0;
    display: block;
}

#bandeau, #shop, #contact {
    margin: auto;
    width: 61%; /*65%, 1200px 1166 63%*/
}

#bandeau form {
    display: inline-block;
    margin: 10px 6px 10px 0;
}

#bandeau form[action="recherche.php"]{
    margin-right: 0;
}

#bandeau input {
    text-align: center;
    padding: 7px 0 5px;
    width: 150px;
    font-size: 15px;
    outline: none;
}

#bandeau input[value="Accueil"] {
    background: url(../images/64px/browser.png) no-repeat 17px 5px white;
    cursor: pointer;
}

#bandeau input[value="Catégorie"] {
    background: url(../images/64px/bookshelf.png) no-repeat 17px 5px white;
}

.sous {
    z-index: 1;
    visibility: hidden;
    transition: all 0.2s ease;
    position: absolute;
    opacity: 0;
    margin-top: 2px;
}

.sous a {
    border-radius: 5px;
    background-color: #303030;
    transition: all 0.2s ease;
    color: white;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    width: 138px;
    display: block;
    border: 1px solid transparent;
    margin: 3px 0;
}

form[action="categorie.php"]:hover .sous, form[action="compte.php"]:hover .sous {
    visibility: visible;
    opacity: 1;
}

#bandeau input[value="Contact"] {
    background: url(../images/64px/clipboard.png) no-repeat 17px 5px #303030;
    cursor: pointer;
}

#bandeau input[value="Panier"] {
    background: url(../images/64px/cart.png) no-repeat 17px 5px #303030;
    cursor: pointer;
}

#bandeau input[value="Mon Compte"] {
    background: url(../images/64px/profle.png) no-repeat 17px 5px #303030;
}

.sous a[href="connec.php"] {
    background: url(../images/64px/locked.png) no-repeat 8px 5px #303030;
    background-size: 17px;
}

.sous a[href="php/disconect.php"] {
    background: url(../images/64px/unlocked.png) no-repeat 8px 5px #303030;
    background-size: 17px;
}

.sous a[href="inscription.php"] {
    background: url(../images/64px/document.png) no-repeat 8px 5px #303030;
    background-size: 17px;
}

#bandeau input[value="Forum"] {
    background: url(../images/64px/news.png) no-repeat 17px 5px #303030;
    cursor: pointer;
}

.sous a:hover {
    background-color: white;
    color: #303030;
    border: 1px solid #303030;
}

#bandeau input[type=submit] {
    color: #ffffff;
    padding-left: 20px;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-size: 20px;
    font-weight: bold;
}

#bandeau input[type=submit]:hover {
    background-color: #ffffff;
    color: #303030;
    border: 1px solid #303030;
}

#bandeau input[type=text] {
    text-align: right;
    color: black;
    border: 1px solid #303030;
    border-radius: 25px;
    transition: all 0.5s ease;
    background: url(../images/64px/magnifyingglass.png) no-repeat 122px 5px white;
    background-size: 20px;
    padding-right: 30px;
    width: 118px;
}

#bandeau input[type=text]:focus {
    display: inline-block;
    background: url(../images/64px/magnifyingglass.png) no-repeat 166px 5px white;
    background-size: 20px;
    color: black;
    padding-right: 30px;
    width: 162px;
}

/* place holder */
#bandeau input[type=text]::-webkit-input-placeholder { /* Chromium */
    color: #303030;
    font-weight: bold;
}
#bandeau input[type=text]:-moz-placeholder { /* FF 4-18 */
    color: #303030;
    opacity: 1;
    font-weight: bold;
}
#bandeau input[type=text]::-moz-placeholder { /* FF 19+ */
    color: #303030;
    opacity: 1;
    font-weight: bold;
}
#bandeau input[type=text]:-ms-input-placeholder { /* IE 10+ */
    color: #303030;
    font-weight: bold;
}

#shop {
    border: 3px solid grey;
    background-color: beige;
}

#shop hr {
    margin: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
    width: 97%;
}

#shop #header {
    text-align: center;
    margin: 1% 30%;
}

#shop #header img {
    width: 75%;
}

#contact {
    border-top: 10px solid #303030;
    font-size: 0.75em;
    color: white;
    padding: 5px;
    background-color: #1a1a1a;
}

#contact img {
    height: 2.8em;
    margin-top: 10px;
    margin-right: 5px;
}

#contact a {
    color: #ffffff;
    text-decoration: none;
}

#contact a:hover {
    color: #ffffff;
}