/* place holder */
#shop ::-webkit-input-placeholder { /* Chromium */
    color: #303030;
    font-family: Tahoma, sans-serif;
}
#shop :-moz-placeholder { /* FF 4-18 */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop ::-moz-placeholder { /* FF 19+ */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop :-ms-input-placeholder { /* IE 10+ */
    color: #303030;
    font-family: Tahoma, sans-serif;
}

#shop input[name="oldMdp"] {
    background: url(../images/64px/key.png) no-repeat 5px 5px white;
}

#shop input[name="newMdp1"] {
    background: url(../images/64px/locked.png) no-repeat 5px 5px white;
}

#shop input[name="newMdp2"] {
    background: url(../images/64px/check.png) no-repeat 5px 5px white;
}

#shop form {
    background-color: #fdf6e6;
    margin: 0 20px;
}

#shop input[type="password"] {
    background-size: 25px;
    padding: 9px 0 8px 35px;
    width: 250px;
    font-size: 15px;
}

#shop legend, #shop input[type="submit"], #shop input[type="reset"] {
    font-weight: bold;
}

#shop input[type="text"], #shop input[type="email"], #shop input[type="password"], #shop textarea, #shop fieldset, #shop form fieldset table tr td img {
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
}

#shop fieldset {
    color: #303030;
    margin: 10px;
}

#shop input[type="submit"], #shop input[type="reset"] {
    color: white;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-size: 20px;
    padding: 5px;
    margin: 5px 5px 20px;
    cursor: pointer;
    outline: none;
}

#shop input[type="submit"]:hover, #shop input[type="reset"]:hover {
    background-color: white;
    color: #303030;
    border: 1px solid #303030;
}

#shop textarea {
    padding: 5px 5px;
    font-size: 15px;
    width: 125%;
}

#shop form fieldset table tr td img {
    position: relative;
    top: 2px;
}