/* place holder */
#shop ::-webkit-input-placeholder { /* Chromium */
    color: #303030;
    font-family: Tahoma, sans-serif;
}
#shop :-moz-placeholder { /* FF 4-18 */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop ::-moz-placeholder { /* FF 19+ */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop :-ms-input-placeholder { /* IE 10+ */
    color: #303030;
    font-family: Tahoma, sans-serif;
}

#shop {
    text-align: center;
}

#shop p {
    font-size: 20px;
    font-weight: bold;
}
#shop #connexion {
    background-color: #fdf6e6;
    margin: auto;
    width: 400px;
}

#shop #connexion form img {
    width: 13%;
}

#shop input[name="pseudo"] {
    background: url(../images/64px/chat.png) no-repeat 5px 5px white;
}

#shop input[name="mdp"] {
    background: url(../images/64px/key.png) no-repeat 5px 5px white;
}

#shop input[type="text"], #shop input[type="password"]{
    background-size: 25px;
    padding: 9px 0 8px 35px;
    width: 250px;
    font-size: 15px;
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
}

#shop input[type="submit"], #shop input[type="reset"] {
    color: white;
    font-weight: bold;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

#shop input[type="submit"]:hover, #shop input[type="reset"]:hover {
    background-color: white;
    color: #303030;
    border: 1px solid #303030;
}