/* place holder */
#shop ::-webkit-input-placeholder { /* Chromium */
    color: #303030;
    font-family: Tahoma, sans-serif;
}
#shop :-moz-placeholder { /* FF 4-18 */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop ::-moz-placeholder { /* FF 19+ */
    color: #303030;
    opacity: 1;
    font-family: Tahoma, sans-serif;
}
#shop :-ms-input-placeholder { /* IE 10+ */
    color: #303030;
    font-family: Tahoma, sans-serif;
}

#shop input[name="nom"] {
    background: url(../images/64px/contacts.png) no-repeat 5px 5px white;
}

#shop input[name="prenom"] {
    background: url(../images/64px/booklet.png) no-repeat 5px 5px white;
}

#shop input[name="pseudo"] {
    background: url(../images/64px/chat.png) no-repeat 5px 5px white;
}

#shop input[name="mdp"] {
    background: url(../images/64px/key.png) no-repeat 5px 5px white;
}

#shop input[name="email"] {
    background: url(../images/64px/mail.png) no-repeat 5px 5px white;
}

#shop input[name="tel"] {
    background: url(../images/64px/phone.png) no-repeat 5px 5px white;
}

#shop input[name="adresse"] {
    background: url(../images/64px/crossroads.png) no-repeat 5px 5px white;
}

#shop form {
    background-color: #fdf6e6;
    margin: 0 20px;
}

#shop input[type="text"], #shop input[type="password"], #shop input[type="email"] {
    background-size: 25px;
    padding: 9px 0 8px 35px;
    width: 100%; /* Le pourcentage est relatif à la taille de la div hein */
    font-size: 15px;
}

#shop input[type="text"], #shop input[type="password"], #shop input[type="email"], #shop textarea, #shop fieldset, #shop form fieldset table tr td img {
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
}

#shop fieldset {
    color: #303030;
}

#shop input[type="submit"], #shop input[type="reset"] {
    color: white;
    font-weight: bold;
    background-color: #303030;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    outline: none;
}

#shop input[type="submit"]:hover, #shop input[type="reset"]:hover {
    background-color: white;
    color: #303030;
    border: 1px solid #303030;
}

#shop legend {
    font-weight: bold;
}

#shop textarea {
    padding: 5px 5px;
    font-size: 15px;
    resize: none;
    width: 600px;
}

#shop form fieldset table tr td img {
    position: relative;
    top: 1px;
    right: 300px;
}