#shop h3 {
    margin: 2% 0 0 2%;
    text-decoration: underline;
}

#shop .pic {
    border: 2px solid;
    padding: 0.5%;
}

#shop .ligne {
    margin: 1.5%;
    display: inline-block;
    vertical-align:top;
}

#shop .ligne .pic {
    width: 25%;
}

#panier {
    width: 32%;
    border: black solid 3px;
}

#panier img {
    width: 10%;
    height: auto;
}

#panier * {
    margin: 1%;
    display: inline-block;
    vertical-align: middle;
}

#EnStock {
    color:limegreen;
}

#HorsStock {
    color:darkred;
}

#prix {
    color: brown;
    font-style: italic;
}

hr {
    margin: 0;
}


#conseil {
    width: 19%;
    padding: 0.5%;
    margin: 1.5%;
    border: solid 3px;
}

div.gallery {
    display: inline-block;
    margin: 5px 1%;
    border: 1px solid;
    width: 100px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100px;
    height: 100px;
}

div.desc {
    font-size: 70%;
    padding: 15px;
    text-align: center;
}